<!DOCTYPE html>
{% load static %}
<html lang="en">



<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Landing PAGE Html5 Template">

    <meta name="keywords" content="landing,startup,flat">

    <meta name="author" content="Made By GN DESIGNS">



    <title>Vortex - Startup Landing Page</title>



    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    

    <style>

    .pricing-footer{
        font-family: 'Noto Sans KR', sans-serif; font-size:x-large;
   </style>

</head>
        <div class="container" style="padding-bottom: -10; margin-right: 30px;">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>

            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active scroll"><a href="#home">팀 소개</a></li>

                    <li class="scroll"><a href="#about">투표등록</a></li>

                    <li class="scroll"><a href="#services">투표리스트</a></li>

                    <li class="scroll"><a href="#price">투표개시</a></li>

                    <li class="scroll"><a href="#team">투표결과</a></li>

                    <li class="button-holder">

                        <div class="dropdown" style="float:right;">
                            <button type="button" class="btn btn-blue navbar-btn" data-toggle="modal" data-target="#SignIn">000님 환영합니다.</button>
                            <div class="btn btn-blue navbar-btn">
                            <a href="#">Log Out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    <hr>
<body>
    
    <form class="voteA-form" method="POST">
        <fieldset>
            <legend>투표정보</legend>
            <p>투표제목: <input type="text" placeholder="Vote Title" required="required"></p>
            <p>투표내용: <textarea row="3" cols="50">투표 취지를 적어주세요!</textarea>
            </p>            
        </fieldset>
    </form>


</body>

    <footer style="padding:0px;">

        <div class="container">

            <div class="row2">

                    <hr>

                    <h5 class="pull-left">POB, &copy;2018 All rights reserved</h5>

                    <ul class="liste-unstyled pull-right">

                        <li style="padding-right: 50px;"><i class="material-icons">phone</i><h4>Call Us On</h4><p>010-000-1111</p></li>

                        <li><i class="material-icons">email</i><h4>Email us on</h4><p>vote@Block.com</p></li>

                    </ul>
            </div>

        </div>

    </footer>

</html>