<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <title>MAIN</title>

        
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Landing PAGE Html5 Template">

    <meta name="keywords" content="landing,startup,flat">

    <meta name="author" content="Made By GN DESIGNS">



    <title>Vortex - Startup Landing Page</title>



    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    var rowCount = 1;
    function addMoreRows(frm) {
    rowCount ++;
    var recRow = '<p id="rowCount'+rowCount+'"><tr><td><input name="" type="text" size="17%"  maxlength="120" /></td><td><input name="" type="text"  maxlength="120" style="margin: 4px 5px 0 5px;"/></td><td><input name="" type="text" maxlength="120" style="margin: 4px 10px 0 0px;"/></td></tr> <a href="javascript:void(0);" onclick="removeRow('+rowCount+');">Delete</a></p>';
    jQuery('#addedRows').append(recRow);
    }

    function removeRow(removeNum) {
    jQuery('#rowCount'+removeNum).remove();
    }
    </script>

    </head>
            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div class="container" style="padding-bottom: -10; margin-right: 30px;">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>
                <a class="navbar-brand" href="#brand">

                    <img src="{% static 'voting/assets/img/logo.png' %}" class="logo" alt="logo">
                
                </a>
            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active scroll"><a href="#home">팀 소개</a></li>

                    <li class="scroll"><a href="#about">투표등록</a></li>

                    <li class="scroll"><a href="#services">투표리스트</a></li>

                    <li class="scroll"><a href="#price">투표개시</a></li>

                    <li class="scroll"><a href="#team">투표결과</a></li>

                    <li class="button-holder">

                        <div class="dropdown" style="float:right;">
                            {% if request.session.id %}
                                <a class="btn btn-blue navbar-btn" href="/logout" id="logout">Log out</a>
                            {%else%}
                                <a class="btn btn-blue navbar-btn" href ="/sign_agree" id="sign_up">SIGN UP</a>
                            {%endif%}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    
        <body>
            <br>
            <br>
            <br>
            <div class="col-md-5 col-md-offset-1" style="width: 630px; height: 1000px;">

                <form class="signup-form">
                    <h2 class="text-center">Signup Now</h2>
                     <hr>
                    <div class="form-group">
                            <p>투표제목: </p>
                            <input type="text" class="form-control" placeholder="Vote Title" required="required">
                            <br>
                    </div>
                        
                        <div>
                            <p>투표정보(선택):</p>
                            <textarea rows="2" cols="50" class="form-control" placeholder="Vote Title">투표 정보를 작성하는 공간입니다.</textarea>
                            <br>
                        </div>
                        
                        <div class="form-group" id="dv">
                            <table rules="all" style="background:#fff;">
                                <tr>
                                <td style="font-size:14px;" >Name</td>
                                <td style="font-size:14px;">Email</td>
                                <td style="font-size:14px;">Mobile</td>
                                <td><span style="font:normal 12px agency, arial; color:blue; text-decoration:underline; cursor:pointer;" onclick="addMoreRows(this.form);">
                                Add More
                                </span>
                                </td>
                                </tr>
                                <tr id="rowId">
                                <td><input name="" type="text"  value="" size="17%"/></td>
                                <td><input name="" type="text"  value="" /></td>
                                <td><input name="" type="text"  value="" /></td>
                                </table>
                                <div id="addedRows"></div>
                                </td>
                                </tr>
                        </div>

                        <div class="form-group">
                            <p>투표 시작날짜:</p>
                            <input type="date" class="form-control" name="start_date" required="required">
                            <p>투표 종료날짜:</p>
                            <input type="date" class="form-control" name="end_date" required="required">
                            
                            <button type="submit" class="btn btn-blue btn-block" style="width:70px; ">제출</button>

                        </div>

                        <div class="form-group">
                            <p>중복투표 여부:</p>
                            <input type="radio" class="form-control" name="rule" checked>불가<br>
                            <input type="radio" class="form-control" name="rule"가능><br>

                        </div>

                        <div class="form-group text-center">

                            <button type="submit" class="btn btn-blue btn-block">Start Now</button>

                        </div>


                    </form>

            </div>
       
        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <script src="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/bootsnav_files/js/bootsnav.js'%}"></script>
    <script src="{% static 'voting/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js'%}"></script>
    <script src="{% static 'voting/assets/js/main.js' %}"></script>

    
</html>