<!DOCTYPE html>
{% load static %}
<html lang="en">



<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Landing PAGE Html5 Template">

    <meta name="keywords" content="landing,startup,flat">

    <meta name="author" content="Made By GN DESIGNS">



    <title>Vortex - Startup Landing Page</title>



    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    

    <style>
    .pricing-footer{
        font-family: 'Noto Sans KR', sans-serif; font-size:x-large;
    }
    </style>

</head>

<body>
        <nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

        <div class="container" style="padding-bottom: -10; margin-right: 30px;">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>
                <a class="navbar-brand" href="#brand">

                    <img src="{% static 'voting/assets/img/logo.png' %}" class="logo" alt="logo">

                </a>
            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

           <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active scroll"><a href="#home">팀 소개</a></li>
                    <li class="scroll"><a href="register">투표등록</a></li>
                    <li class="scroll"><a href="working4">투표리스트</a></li>
                    <li class="scroll"><a href="#price">투표개시</a></li>
                    <li class="scroll"><a href="#team">투표결과</a></li>
                    <li class="scroll"><a href="#contact">문의사항</a></li>
                    <li class="button-holder">
                        <div class="dropdown" style="float:right;">
                        
                            {% if request.session.id %}
                                
                                <a class="btn btn-blue navbar-btn" href="/logout" id="logout">Log out</a>
                                
                            {% else%}
                                <a class="btn btn-blue navbar-btn" href="/sign_agree" id="sign_up">SIGN UP</a>
                            {% endif%}
                        </div>
                    
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        </nav>
    
    <!--======================================== 

                    Preloader

    ========================================-->

    <div class="page-preloader">

        <div class="spinner">

            <div class="rect1"></div>

            <div class="rect2"></div>

            <div class="rect3"></div>

            <div class="rect4"></div>

            <div class="rect5"></div>

        </div>

    </div>

    <!--======================================== 

                        Team

    ========================================-->


    <section id="team" class="section-padding" style="padding-top: 5px;padding-bottom: 30px;">
    <br>
    <br>
    <br>
    <div class="container">

       
        <h2>List Of Votes Registered</h2>
        <div class="row">
         
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
 
                <div class="item active">

                    <img src="{% static 'voting/assets/img/cgv.jpg'%}" style="display:inline-block; width:1170px;height: 650px;" class="img-responsive" alt="team-1">
                
                        <div class="caption">

                            <h4>Movie of the Year</h4>

                            <h6>2018.12.27 ~ 12.29</h6>

                            <p>2018년 최고의 작품들이 당신의 선택을 기다리고 있습니다!</p>

                            <hr>

                            <div class="team-social">

                                <ul class="liste-unstyled">

                                      <div class="form-group text-center">

                                          <button type="submit" class="btn btn-blue btn" style="width: 250px; height: 44px;" onclick="button_event()">Start Now</button>

                                     </div>
                                </ul>
                        </div>
                    </div>
              </div>
                <div class="item">
                    <img src="{% static 'voting/assets/img/UEFA.png'%}" style="display:inline-block; width:1170px;height:650px;" class="img-responsive" alt="team-2">      
                    
                        <div class="caption">

                            <h4>2018-2018 UEFA Champions League</h4>

                            <h6>2018.12.1 ~ 12.5</h6>

                            <p>18/19 시즌 챔피언스 리그 우승팀을 예측하고 직관 가자!</p>

                            <hr>

                            <div class="team-social">

                                <ul class="liste-unstyled">

                                    <div class="form-group text-center">

                                        <button type="submit" class="btn btn-blue btn" style="width: 250px; height: 44px;" onclick="button_event()">Start Now</button>

                                    </div>
                                </ul>
                            </div>
                        </div>
                </div>
                
                <div class="item">
                    
                    <img src="{% static 'voting/assets/img/vs.jpg'%}" style="display:inline-block; width:1170px;height: 650px;" class="img-responsive" alt="team-3">
                    
                        <div class="caption">

                            <h4>부먹 vs 찍먹</h4>

                            <h6>2018.9.11 ~ 9.12</h6>

                            <p>세기의 난제 -부먹 vs 찍먹, 당신의 선택은?</p>

                            <hr>

                            <div class="team-social">

                                <ul class="liste-unstyled">

                                    <div class="form-group text-center">

                                        <button type="submit" class="btn btn-blue btn" style="width: 250px; height: 44px;" onclick="button_event()">Start Now</button>

                                    </div>
                                </ul>
                            </div>
                        </div>

                     </div>
                     
                 </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- Indicators -->
            {% comment %} <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> {% endcomment %}
 
        </div>
            
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'voting/assets/js/plugins/bootsnav_files/js/bootsnav.js'%}"></script>

    <script src="{% static 'voting/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js'%}"></script>

    <script src="{% static 'voting/assets/js/main.js' %}"></script>

    
    <script type="text/javascript">
 
        function button_event(){
        if (confirm("Do you really mean it?") == true){    //확인
            document.form.submit();
        }else{   //취소
            return;
        }   
    }
    </script>

</body>

    <footer style="padding:0px;">

        <div class="container">

            <div class="row2">

                    <hr>

                    <h5 class="pull-left">POB, &copy;2018 All rights reserved</h5>

                    <ul class="liste-unstyled pull-right">

                        <li style="padding-right: 50px;"><i class="material-icons">phone</i><h4>Call Us On</h4><p>010-000-1111</p></li>

                        <li><i class="material-icons">email</i><h4>Email us on</h4><p>vote@Block.com</p></li>

                    </ul>
            </div>

        </div>

    </footer>
    
</html>