<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing PAGE Html5 Template">
    <meta name="keywords" content="landing,startup,flat">
    <meta name="author" content="Made By GN DESIGNS">

    <title>Vortex - Startup Landing Page</title>
    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">

    <style>
    .pricing-footer{
        font-family: 'Noto Sans KR', sans-serif; font-size:x-large;
    }

    h3{
        color: white;
    }

   </style>
</head>
<body>

    <div class="page-preloader">

        <div class="spinner">

            <div class="rect1"></div>

            <div class="rect2"></div>

            <div class="rect3"></div>

            <div class="rect4"></div>

            <div class="rect5"></div>

        </div>

    </div>
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                 <a class="navbar-brand" href="#brand">

                    <img src="{% static 'voting/assets/img/logo.png' %}" class="logo" alt="logo">
                
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active scroll"><a href="#home">팀 소개</a></li>
                    <li><a href="/vote_type">투표등록</a></li>
                    <li><a href='/client_list_result'>투표리스트</a></li>
                    <li class="scroll"><a href="#price">투표개시</a></li>
                    <li class="scroll"><a href="#team">투표결과</a></li>
                    <li class="scroll"><a href="#contact">문의사항</a></li>
                    <li class="button-holder">
                        <div class="dropdown" style="float:right;">
                            {% if request.session.id %}
                                
                                {% csrf_token %} 
                                <a class="btn btn-blue navbar-btn" href="/logout" id="logout">Log out</a>
                                
                            {%else%}
                                <a class="btn btn-blue navbar-btn" href="/sign_agree" id="sign_up">SIGN UP</a>
                            {%endif%}
                        </div>
                    
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        </nav>
   
    <section id="home">
     <div class="container">
            <div class="row">
                <!-- Introduction -->
                <div class="col-md-6 caption">
                    <h1>Welcome To volling</h1>
                    <h2>
                           We are 
                            <span class="animated-text"></span>
                            <span class="typed-cursor"></span>
                        </h2>
                   
                    <p> 지금 당장 원하는 투표를 등록하세요! </p>
                    <a href="#" class="btn btn-transparent">Get Started</a>
                    <a class="btn btn-blue popup-youtube" href="https://www.youtube.com/watch?v=Q8TXgCzxEnw">
                        <i class="material-icons">play_circle_filled</i>Watch Video
                    </a>
                </div>
                <!-- Sign Up -->
                
                            
                                {% if request.session.id %}

                                 <h3>{{ request.session.id}}님 반갑습니다.</h3>
                                
                                {%else%}
                                
                                <div class="col-md-5 col-md-offset-1">
                                    <form class="signup-form" method="post">{% csrf_token %} 
                                        <h2 class="text-center">Login</h2>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name='id' placeholder="User id" required="required">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control" name='password' placeholder="Password" required="required">
                                        </div>

                                        <a href="#" class="forgot">forgot password?</a>

                                        <div class="form-group text-center">
                                            <input type="submit" id="log_in" class="btn btn-blue btn-block" value="LOGIN">    
                                        </div>

                                    </form>
                                </div>
                            
                                </div>
                                </div>
                                {% endif %}
    </section>
    
    <section id="contact" class="section-padding">

        <div class="container">

            <h2>Contact Us</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>

            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

        </div>

        <!-- Contact Info -->

        <div class="container contact-info">

            <div class="row">

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">place</i>

                        <h4>Address</h4>

                        <p>PABox 13592, Lorem Street Ipsum Dolor, Victoria 8007, USA</p>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">phone</i>

                        <h4>Call Us On</h4>

                        <p>1-834-527-6940</p>

                        <p>1-834-527-6940</p>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">email</i>

                        <h4>Email us on</h4>

                        <p>lorem@xyz.com</p>

                        <p>lorem@xyz.com</p>

                    </div>

                </div>

            </div>

        </div>

        <!-- Google Map -->

        <div id="map"></div>

        <!-- Contact Form -->

        <div class="contact-forms">

            <div class="container">

                <h2>Drop us a Line</h2>

                <form class="contact-form">

                    <div class="col-md-6">

                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Full Name" required="required">

                        </div>

                        <div class="form-group">

                            <input type="email" class="form-control" placeholder="Email" required="required">

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>

                        </div>

                    </div>

                    <button type="submit" class="btn btn-blue">Send Message</button>

                </form>

            </div>

        </div>

    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-caption">
                    <h5 class="pull-left">POB, &copy;2018 All rights reserved</h5>
                    <ul class="liste-unstyled pull-right">
                        <li style="padding-right: 50px;"><i class="material-icons">phone</i><h4>Call Us On</h4><p>010-000-1111</p></li>
                        <li><i class="material-icons">email</i><h4>Email us on</h4><p>vote@Block.com</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- ---------------------------------------------------------------------------------------- -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <script src="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/bootsnav_files/js/bootsnav.js'%}"></script>
    <script src="{% static 'voting/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js'%}"></script>
    <script src="{% static 'voting/assets/js/main.js' %}"></script>
    <script>
         $('#log_in').click(function(){
            $.ajax({
            url: '/login',
            type: 'post',
            data: $('form').serialize(),
                success: function(result){
                    if(result=='Login success'){
                            location.href='{% url "main" %}'
                            }
                    else{
                        alert(result)
                    }
                }
                })
            })


        </script>
</html>