<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>SIGN_FORM</title>

            
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <script src="{% static 'voting/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'voting/bootstrap/dist/js/bootstrap.js' %}"></script> 
        <link rel="stylesheet" href="{% static 'voting/bootstrap/dist/css/bootstrap.css' %}"> 
            
        <style>
                html { height: 100% }
                ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
                ::selection { background: #fe57a1; color: #fff; text-shadow: none; }
                body { background-image: radial-gradient( cover, rgba(92,100,111,1) 0%,rgba(31,35,40,1) 100%), url('http://i.minus.com/io97fW9I0NqJq.png') }
                .login {
                background: #eceeee;
                border-radius: 6px;
                height: 600px;
                margin: 20px auto 0;
                width: 560px;
                }

                input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { 
                    /* WebKit browsers */ 
                    color:transparent;
                    }
                h2{
                margin: 20px auto 0;
                width: 298px;
                }
                .login h1 {
                background-image: linear-gradient(top, #f1f3f3, #d4dae0);
                border-bottom: 1px solid #a6abaf;
                border-radius: 6px 6px 0 0;
                box-sizing: border-box;
                color: #727678;
                display: block;
                height: 43px;
                font: 600 14px/1 'Open Sans', sans-serif;
                padding-top: 14px;
                margin: 0;
                text-align: center;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
                }
                input[type="password"], input[type="text"] {
                background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
                border: 0px solid;
                border-radius: 4px;
                box-shadow: 0 1px #fff;
                box-sizing: border-box;
                color: #D5D5D5;
                height: 39px;
                margin: 31px 0 0 29px;
                padding-left: 37px;
                transition: box-shadow 0.3s;
                width: 300px;
                }
                input[type="password"]:focus, input[type="text"]:focus {
                box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
                outline: 0;
                }
                .show-password {
                display: block;
                height: 16px;
                margin: 26px 0 0 28px;
                width: 87px;
                }
                .toggle {
                background: url(http://i.minus.com/ibitS19pe8PVX6.png) no-repeat;
                display: block;
                height: 16px;
                margin-top: -20px;
                width: 87px;
                z-index: -1;
                }

                table{
                    border-collapse:collapse;
                }

                input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
                .forgot {
                color: #7f7f7f;
                display: inline-block;
                float: right;
                font: 12px/1 sans-serif;
                left: -19px;
                position: relative;
                text-decoration: none;
                top: 5px;
                transition: color .4s;
                }
                .forgot:hover { color: #3b3b3b }
                 #div_con {
                width:140px;
                height:35px;
                display:block;
                font-family:Arial, "Helvetica", sans-serif;
                font-size:16px;
                font-weight:bold;
                color:#fff;
                text-decoration:none;
                text-transform:uppercase;
                text-align:center;
                text-shadow:1px 1px 0px #37a69b;
                padding-top:6px;
                margin: 29px 0 0 29px;
                position:relative;
                cursor:pointer;
                border: none;  
                background-color: #9F9F9F;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius:5px;
                }
                    input[type="submit"]:active {
                    top:3px;
                    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
                }

                input[type="submit"] {
                width:480px;
                height:35px;
                display:block;
                font-family:Arial, "Helvetica", sans-serif;
                font-size:16px;
                font-weight:bold;
                color:#fff;
                text-decoration:none;
                text-transform:uppercase;
                text-align:center;
                text-shadow:1px 1px 0px #37a69b;
                padding-top:6px;
                margin: 29px 0 0 29px;
                position:relative;
                cursor:pointer;
                border: none;  
                background-color: #9F9F9F;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius:5px;

                }

            #auth {
                width:50px;
                height:35px;
                display:block;
                font-family:Arial, "Helvetica", sans-serif;
                font-size:16px;
                font-weight:bold;
                color:#fff;
                text-decoration:none;
                text-transform:uppercase;
                text-align:center;
                text-shadow:1px 1px 0px #37a69b;
                padding-top:6px;
                margin: 29px 0 0 29px;
                position:relative;
                cursor:pointer;
                border: none;  
                background-color: #9F9F9F;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius:5px;

            }

        </style>
    </head>
        <body>
        <form method="post">
        {% csrf_token %}
            <h2><div data-text-content="true" style="font-size: 16px; color: rgb(255, 255, 255); text-align: center; line-height: 2.5em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(94, 94, 94);" class="">전투의 민족!</div></h2>
            <div class="login">
            <table>
                <tr>
                    <td>
                        <div id="div_con">이름</div>
                    </td>
                    <td>
                        <input type="text" name='name' id="member_name">  
                    </td>
                </tr>
                 <tr>
                    <td>
                        <div id="div_con">아이디</div>
                    </td>
                    <td>
                        <input type="text" name='id' id="member_id">  
                    </td>
                </tr>
                 <tr>
                    <td>
                        <div id="div_con">비밀번호</div>
                    </td>
                    <td>
                        <input type="password"  name='password' id="member_password">  
                    </td>
                </tr>
                 <tr>
                    <td>
                        <div id="div_con">비밀번호확인</div>
                    </td>
                    <td>
                        <input type="password" name='password_again' id="member_password_again">  
                    </td>
                </tr>
                 <tr>
                    <td>
                        <div id="div_con">휴대폰 번호</div>
                    </td>
                    <td>
                        <input type="text" name='mobile' id="member_mobile">
                    </td>
                    
                    <td>
                    <button id='auth'>인증</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="div_con">이메일</div>
                    </td>
                    <td>
                        <input type="text" name='email' id="member_email">  
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="div_con">기관명</div>
                    </td>
                    <td>
                        <input type="text" name='org' id='member_org'>  
                    </td>
                </tr>
            </table>
            <input type="submit" id='sign_in_btn' value="SIGN IN">
            </div>
        </form>
        </body>


        <script>

        var id_check=false;
        var name_check=false;
        var password_check=false;
        var mobile_check=false;
        var email_check=false;
        var org_check=false;

        $('#member_name').focusout(function(){
            var str=$('#member_name').val()
            if(str==""){
                name_check=false;
                $('#member_name').css('background-color','#FF7E7E')
            }else{
                name_check=true;
                $('#member_name').css('background-color','#AAFFA3')
            }
        })




        $('#member_id').focusout(function(){
			$.ajax({
				url: '/check_id',
				type: 'post',
				data: $('form').serialize(),
				success: function(result){
						if(result=='available' && $('#member_id').val()!=""){
                            alert(result)
							$('#member_id').css('background-color','#AAFFA3')
							id_check=true;
						}
						else{
							$('#member_id').css('background-color','#FF7E7E')
							id_check=false;
						}
				}
			})
			return false
		})
        
      $('#member_password_again').focusout(function(){
        var str=$('#member_password').val()
        var str2=$('#member_password_again').val()
        if(str==str2){
            password_check=true;
            $('#member_password').css('background-color','#AAFFA3')
            $('#member_password_again').css('background-color','#AAFFA3')
        }else{
            password_check=false;
            $('#member_password').css('background-color','#FF7E7E')
            $('#member_password_again').css('background-color','#FF7E7E')
        }
         })

        
    $('#member_email').focusout(function(){
        var str=$('#member_email').val()
        var pattern=/[0-9a-zA-Z]+@{1}[a-z]+.[a-z]+/
        var check=pattern.test(str)

        if(check){
             email_check=true;
             $('#member_email').css('background-color','#AAFFA3')
        }else{
             email_check=false;
             $('#member_email').css('background-color','#FF7E7E')
             }
    })

    
        $('#member_org').focusout(function(){
            var str=$('#member_org').val()
            if(str==""){
                org_check=false;
                $('#member_org').css('background-color','#FF7E7E')
            }else{
                org_check=true;
                $('#member_org').css('background-color','#AAFFA3')
            }
        })

        $('#member_mobile').focusout(function(){
             var str=$('#member_mobile').val()
            if(str==""){
                mobile_check=false;
                $('#member_mobile').css('background-color','#FF7E7E')
            }else{
                mobile_check=true;
                $('#member_mobile').css('background-color','#AAFFA3')
            }
        })


        $('#sign_in_btn').click(function(){
            var total=id_check+name_check+password_check+mobile_check+email_check+org_check
			if(total==6){
				$('#sign_in_btn').attr('disabled', false)
                $.ajax({
				url: '/sign_up',
				type: 'post',
				data: $('form').serialize(),
					success: function(result){
                            if(result=='success'){
                                alert('가입완료!')
                                location.href='{% url "main"%}'
                            }
					}
				})

			}else{
            	$('#sign_in_btn').attr('disabled', true)
                alert('모든 칸을 채워주세요.')
        	}
			 setTimeout(process, 0);
             /*
                setTimeout(실행하고자 하는 함수, 시간) :  시간 뒤에 함수실행
             */
		})
		function process() {
			ts1 = new Date().getTime() + 1000;
			do 
            { ts2 = new Date().getTime(); }
            while (ts2 < ts1);
			$('#sign_in_btn').prop('disabled', false);
		}
        </script>

</html>