<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing PAGE Html5 Template">
    <meta name="keywords" content="landing,startup,flat">
    <meta name="author" content="Made By GN DESIGNS">

    <title>Vortex - Startup Landing Page</title>
    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">

    </head>
        <body>
        <form method="post">
        {% csrf_token %}
    
        <div class="contact-forms">

            <div class="container">

                <h2>Drop us a Line</h2>

                <form class="contact-form">

                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name" name='name' id="member_name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Id" name='id' id="member_id">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name='password' id="member_password">  
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password_again" name='password_again' id="member_password_again">    
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mobile" name='mobile' id="member_mobile">
                        </div>
                        
                        

                        <button type="submit" id='auth' class="btn btn-transparent" style="background:black">Authentication</button>
                        
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name='email' id="member_email">
                        </div>

                        

                    </div>

                <div class="col-md-6">

                        <div class="form-group">

                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>

                        </div>

                    </div>
                </form>
            <button type="submit" id='sign_in_btn' class="btn btn-blue">SIGN UP</button>
                        
            </div>
        </div>
</body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'voting/assets/js/plugins/bootsnav_files/js/bootsnav.js'%}"></script>
    <script src="{% static 'voting/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js'%}"></script>
    <script src="{% static 'voting/assets/js/main.js' %}"></script>

        <script>

        var id_check=false;
        var name_check=false;
        var password_check=false;
        var mobile_check=false;
        var email_check=false;
        var org_check=false;

        $('#member_name').focusout(function(){
            var str=$('#member_name').val()
            if(str==""){
                name_check=false;
                $('#member_name').css('background-color','#FF7E7E')
            }else{
                name_check=true;
                $('#member_name').css('background-color','#AAFFA3')
            }
        })




        $('#member_id').focusout(function(){
			$.ajax({
				url: '/check_id',
				type: 'post',
				data: $('form').serialize(),
				success: function(result){
						if(result=='available' && $('#member_id').val()!=""){
                            alert(result)
							$('#member_id').css('background-color','#AAFFA3')
							id_check=true;
						}
						else{
							$('#member_id').css('background-color','#FF7E7E')
							id_check=false;
						}
				}
			})
			return false
		})
        
      $('#member_password_again').focusout(function(){
        var str=$('#member_password').val()
        var str2=$('#member_password_again').val()
        if(str==str2){
            password_check=true;
            $('#member_password').css('background-color','#AAFFA3')
            $('#member_password_again').css('background-color','#AAFFA3')
        }else{
            password_check=false;
            $('#member_password').css('background-color','#FF7E7E')
            $('#member_password_again').css('background-color','#FF7E7E')
        }
         })

        
    $('#member_email').focusout(function(){
        var str=$('#member_email').val()
        var pattern=/[0-9a-zA-Z]+@{1}[a-z]+.[a-z]+/
        var check=pattern.test(str)

        if(check){
             email_check=true;
             $('#member_email').css('background-color','#AAFFA3')
        }else{
             email_check=false;
             $('#member_email').css('background-color','#FF7E7E')
             }
    })

    
        $('#member_org').focusout(function(){
            var str=$('#member_org').val()
            if(str==""){
                org_check=false;
                $('#member_org').css('background-color','#FF7E7E')
            }else{
                org_check=true;
                $('#member_org').css('background-color','#AAFFA3')
            }
        })

        $('#member_mobile').focusout(function(){
             var str=$('#member_mobile').val()
            if(str==""){
                mobile_check=false;
                $('#member_mobile').css('background-color','#FF7E7E')
            }else{
                mobile_check=true;
                $('#member_mobile').css('background-color','#AAFFA3')
            }
        })


        $('#sign_in_btn').click(function(){
            var total=id_check+name_check+password_check+mobile_check+email_check+org_check
			if(total==6){
				$('#sign_in_btn').attr('disabled', false)
                $.ajax({
				url: '/sign_up',
				type: 'post',
				data: $('form').serialize(),
					success: function(result){
                            if(result=='success'){
                                alert('가입완료!')
                                location.href='{% url "main"%}'
                            }
					}
				})

			}else{
            	$('#sign_in_btn').attr('disabled', true)
                alert('모든 칸을 채워주세요.')
        	}
			 setTimeout(process, 0);
             /*
                setTimeout(실행하고자 하는 함수, 시간) :  시간 뒤에 함수실행
             */
		})
		function process() {
			ts1 = new Date().getTime() + 1000;
			do 
            { ts2 = new Date().getTime(); }
            while (ts2 < ts1);
			$('#sign_in_btn').prop('disabled', false);
		}
        </script>

</html>