<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <title>MAIN</title>

        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script src="{% static 'voting/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'voting/bootstrap/dist/js/bootstrap.js' %}"></script> 
        <link rel="stylesheet" href="{% static 'voting/bootstrap/dist/css/bootstrap.css' %}"> 

    </head>
        <body>
            

        </body>
</html>