<!DOCTYPE html>
{% load static %}
<html lang="en">



<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Landing PAGE Html5 Template">

    <meta name="keywords" content="landing,startup,flat">

    <meta name="author" content="Made By GN DESIGNS">



    <title>Vortex - Startup Landing Page</title>



    <!-- // PLUGINS (css files) // -->

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/skins/color.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/animate.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/bootsnav.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/bootsnav_files/css/overwrite.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'voting/assets/css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    

    <style>
    .pricing-footer{
        font-family: 'Noto Sans KR', sans-serif; font-size:x-large;
    }
    h3{
        color: white;
    }
   </style>
   

</head>
<nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

        <div class="container" style="padding-bottom: -10; margin-right: 30px;">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>
                 <a class="navbar-brand" href="#brand">

                    <img src="{% static 'voting/assets/img/logo.png' %}" class="logo" alt="logo">

                </a>
            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active scroll"><a href="#home">팀 소개</a></li>

                    <li class="scroll"><a href="#about">투표등록</a></li>

                    <li class="scroll"><a href="#services">투표리스트</a></li>

                    <li class="scroll"><a href="#price">투표개시</a></li>

                    <li class="scroll"><a href="#team">투표결과</a></li>

                    <li class="button-holder">
                    <div class="dropdown" style="float:right;">
                             {% if request.session.id %}
                                
                                {% csrf_token %} 
                                <a class="btn btn-blue navbar-btn" href="/logout" id="logout">Log out</a>
                                
                            {% else %}
                                <a class="btn btn-blue navbar-btn" href="/sign_agree" id="sign_up">SIGN UP</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
         </div>
        </nav>
    
<body>

        <br>
        <br>
        <br>
        <section id="price" class="section-padding" style="padding-top: 0px;">

        <div class="container">

            <h2>Choose Vote Type</h2>

            <p>What is the best vote type for your vote. Whatever you want we can made it.</p>

            <div class="row1">

                <!-- Pricing Start Here -->

                <div class="pricing-container">

                    <div class="col-md-4">

                        <!--== SINGLE USER: Plan ==-->

                        <div class="plan">

                            <div class="pricing-header">

                                <h3>Type B</h3>

                                <h3>

                                <span class="currency">*</span>

                                <span class="amount">VS</span>

                                <span class="period"></span>

                                </h3>

                            </div>

                            <div class="pricing-body">

                                <ul class="list-unstyled">

                                    <li><i class="material-icons">done</i><b>VS</b>형 투표</li>

                                    <li><i class="material-icons">done</i><b></b> 비교분석에 적합한 투표</li>

                                    <li><i class="material-icons">done</i><b></b> 자장면 vs 짬뽕</li>

                                    <li><i class="material-icons">done</i><b></b> 박지성 vs 손흥민</li>

                                    <li><i class="material-icons">done</i><b></b> 메시 vs 호날두</li>

                                </ul>

                            </div>

                            <div class="pricing-footer">

                                <a href="#" class="btn btn-blue">Select</a>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <!--== MULTIPLE USER: Plan ==-->

                        <div class="plan active">

                            <div class="pricing-header">

                                <h3>Type A</h3>

                                <h3>

                                <span class="currency">*</span>

                                <span class="amount">List</span>

                                <span class="period"></span>

                                </h3>

                            </div>

                            <div class="pricing-body">

                                <ul class="list-unstyled">

                                    <li><i class="material-icons">done</i><b>대표자선출</b>형 타입</li>

                                    <li><i class="material-icons">done</i><b></b> 대표자 선출에 적합한 투표</li>

                                    <li><i class="material-icons">done</i><b></b> 학생회장선거</li>

                                    <li><i class="material-icons">done</i><b></b> 주민대표선거</li>

                                    <li><i class="material-icons">done</i><b></b> 국회의원선거</li>

                                </ul>

                            </div>

                            <div class="pricing-footer">

                                <a href="#" class="btn btn-blue">Select</a>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <!--== Developer: Plan ==-->

                        <div class="plan">

                            <div class="pricing-header">

                                <h3>Type C</h3>

                                <h3>

                                <span class="currency">*</span>

                                <span class="amount">Yes or No</span>

                                <span class="period"></span>

                                </h3>

                            </div>

                            <div class="pricing-body">

                                <ul class="list-unstyled">

                                    <li><i class="material-icons">done</i><b>찬성반대</b>형 타입</li>

                                    <li><i class="material-icons">done</i><b></b> 다양한 안건에 적합한 투표</li>

                                    <li><i class="material-icons">done</i><b></b> 지자체 찬반형 주민투표</li>

                                    <li><i class="material-icons">done</i><b></b> 기업내 찬반형 안건투표</li>

                                    <li><i class="material-icons">done</i><b></b> 교내 찬반형 학생투표</li>

                                </ul>

                            </div>

                            <div class="pricing-footer">

                                <a href="#" class="btn btn-blue">Select</a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</body>

    <footer style="padding:0px;">
    
        <div class="container">
        
            <div class="row2">

                    <hr>

                    <h5 class="pull-left">POB, &copy;2018 All rights reserved</h5>

                    <ul class="liste-unstyled pull-right">

                        <li style="padding-right: 50px;"><i class="material-icons">phone</i><h4>Call Us On</h4><p>010-000-1111</p></li>

                        <li><i class="material-icons">email</i><h4>Email us on</h4><p>vote@Block.com</p></li>

                    </ul>
            </div>

        </div>
   
    </footer>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{% static 'voting/assets/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'voting/assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'voting/assets/js/plugins/bootsnav_files/js/bootsnav.js'%}"></script>

    <script src="{% static 'voting/assets/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="{% static 'voting/assets/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js'%}"></script>

    <script src="{% static 'voting/assets/js/main.js' %}"></script>

</html>